body {
    background-color: lightgray;
    margin: 0;
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin: 0 0 2% 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid #cccccc;

}
.theLinks {
    display: flex;
    flex-direction: row;
    text-align: right;
    align-items: end;
    bottom: 0px;
    margin-right: 15%;
}
.heading {
    margin: 0 25% 0 20%;
    padding: 20px;
    color: #ffffff;
    background-color: #4aaaa5;
}
.theLinks h4 {
    margin: 20px 10px 5px 10px;
}
.aboutMe {
    width: 912px;
    margin: 0 16% 0 21%;
    background-color: #ffffff;
    padding: 1% 2% 3% 20px;
    border: 1px solid #dddddd;
}

.line {
    padding: 0 20px 0 0;
    border-right: 1px solid lightgrey;

}

a {
    color: #777777;
    text-decoration: none;
}

h2 {
    color: #4aaaa5;
}

.paragraphs {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    color: #777777;
}

img {
    height: 200px;
    width: 200px;
    float: left;
    padding: 1%;
}

.paragraphs p {
    
}

h3 {
    font-weight: normal;
}